.contact{
    .contact-container{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding: 20px 30px;
        iframe{
            border-radius: 8px;
        }
        form{
            margin-left: 20px;
            h1{
                text-align: center;
                font-size: 36px;
                color: $--color-p;
                margin: 10px 0;
            }
            .form-list{
                .input_field{
                    margin-bottom: 10px;
                    input[type="text"]{
                        padding: 10px 20px;
                        width: 400px;
                     }
                    textarea{
                        resize: none;
                        height: 150px;
                        border: 1px solid #e0e0e0;
                        width: 100%;
                        padding: 10px 20px;
                      }
                }
                .btn{
                    input[type="submit"]{
                        border: 0px;
                        margin-top: 10px;
                        padding: 10px;
                        text-align: center;
                        width: 100%;
                        // background: #fece0c;
                        color: #332902;
                        text-transform: uppercase;
                        letter-spacing: 5px;
                        font-weight: bold;
                        border-radius: 10px;
                        cursor: pointer;
                      }
                }
            }
          
        }
        #error_message{
            margin-bottom: 20px;
            background: #fe8b8e;
            padding: 0px;
            text-align: center;
            font-size: 14px;
            transition: all 0.5s ease;
          }
    }
   
}
        