.counter-up-container{
        // position: absolute;
        // width: 80vw;
        // transform: translate(-50%, -50%);
        // top: 50%;
        // left: 50%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 50px;
        .container{
            width: 28vmin;
            height: 28vmin;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 1em 0;
            position: relative;
            font-size: 16px;
            border-radius: 0.5em;
            background: linear-gradient(90deg, rgb(66, 175, 219) 18%, rgba(132,56,250,1) 100%); 
            // border-bottom: 10px solid #18f98f;
            border-bottom: 10px solid #48D1CC;
            box-shadow: rgba(37, 39, 43, 0.2) 0px 8px 24px;
            i {
                // color: #18f98f;
                color: #48D1CC;
                font-size: 2.5em;
                text-align: center;
            }
            span.num{
                color: #ffffffa9;
                display: grid;
                place-items: center;
                font-weight: 600;
                font-size: 3em;     
            }
            span.text{
                color: #e0e0e0;
                font-size: 14px;
                text-align: center;
                pad: 0.7em 0;
                font-weight: 400;
                line-height: 0;
            }
            .icon-num{
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    font-size: 36px;
                    color: #ffffffa9;
                    margin-left: 5px;
                }
            }
        }
}