.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 90px;
    // box-shadow: rgba(85, 89, 91, 0.2) 0px 8px 24px;
    .logo{
        a{
            img{
                width: 90px;
                filter: contrast(200%);
            }
        }
    }
    .navbar{
        // display: flex;
        // justify-content: space-between;
        .menu{
            display: flex;
            li{
                margin-right: 30px;
                position: relative;
                a{
                    color: $--color-white;
                    font-size: 16px;
                    display: block;
                    font-weight: bold;
                    font-size: 18px;
                    &:hover{
                        // color: blue;
                        &::before,&::after{
                            width: 50%;
                        }
                    }
                    &::before{
                        content: '';
                        position: absolute;
                        bottom: 0px;
                        left: 50%;
                        width: 0%;
                        height: 2px;
                        background-color: $--color-white;
                        transition: all 0.3s ease-in;
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        bottom: 0px;
                        right: 50%;
                        width: 0%;
                        height: 2px;
                        background-color: $--color-white;
                        transition: all 0.3s ease-in;
                    }
                }  
            }
        }  
    }
    .icon-bar{
        font-size: 22px;
        color: $--color-white;
        display: none;
    }
          
}