@media (max-width: 1024px) {
    .header{
        padding: 20px 60px;
    }
    .menu{
        li{
            padding: 8px 10px;  
        }
    }
}
@media (max-width: 768px) {
    body{
        overflow: hidden;
    }
    .header{
        padding: 20px 40px;
        .logo{
            a{
                padding: 7px 15px;
                font-size: 20px;
            }
        }
        .icon-bar{
            display: block;
            z-index: 100;
            
        }
        .navbar{ 
            // z-index: 999;
            .menu{
                position: absolute;
                top: 0; left: 0;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100vh; 
                align-items: center;
                background-color: $--bg-menubar;
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                // transform: translateY(100%);
                // opacity: 0;
                z-index: 99;
                li:first-child{  
                     margin-top: 50px;
                }
                li{
                    padding: 20px;
                    a{
                        color: $--color-white;
                        
                    }
                }
            }     
        }
    }
    .navbar.active .menu{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
   
    .banner{
        .banner-container{
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0 50px;
            margin-top: -80px;
        }
        .banner-left{
            margin: 0 70px;
            .static-txt{
                font-size: 32px;
            }
            .dynamic-txt{
                height: 85px;
                line-height: 85px;
                font-size: 36px;
            }

        }
        .banner-right{
            margin-top: 40px;
            margin-right: 0;
            img{
                width: 100%;
            }
        }
    }
    
}
@media (max-width: 440px){
    
    .banner{
        .banner-container{
           
        }
        .banner-left{
            padding: 0 100px;
            .static-txt{
                font-size: 26px;
            }
            
            

        }
        .banner-right{
           
        }
    }
}