*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
}
li{
    text-decoration: none;
}
a{
    text-decoration: none;
}
body{
    background: linear-gradient(90deg, rgba(186,35,254,1) 0%, rgba(159,47,255,1) 18%, rgba(132,56,250,1) 100%);
    // background-color: #fff;
}
// html{
//     scroll-behavior: smooth;
//     overflow: hidden;
// }