*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
}
li{
    text-decoration: none;
}
a{
    text-decoration: none;
}
body{
    // background: #00c6ff;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: rgb(29, 81, 213);
    // background-color: #08074c;
    // background-color: #0000CD;
    // background: linear-gradient(90deg, rgba(186,35,254,1) 0%, rgba(159,47,255,1) 18%, rgba(132,56,250,1) 100%);
        //  background-color: #fff;
}
// html{
//     scroll-behavior: smooth;
//     overflow: hidden;
// }