.services{
    .services-container{
        .services-title{
            text-align: center;
            h1{
                font-size: 36px;
                color: $--color-white;
                font-family: "Open Sans", sans-serif;
            }
        }
        
        .services-list{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            // margin-top: 10px;
            padding: 50px;
            .item{
                text-align: center;
                padding: 30px;
                transform: translateY(0);
                &:hover{
                    transition: all 0.5s ease;
                    box-shadow: rgba(85, 93, 100, 0.2) 0px 8px 24px;
                    border-radius: 20px;
                    transform: translateY(-20px);
                }   
                a{
                    text-align: center;
                    font-size: 22px;
                    font-weight: bold;
                    color: $--color-white;
                    text-decoration: none;
                    margin: 20px 0;
                    font-family: 'Open Sans', sans-serif;
                }
                p{  
                    margin-top: 10px;
                    line-height: 24px;
                    letter-spacing: 1.2px;
                    color: $--color-p;
                    font-size: 14px;
                    font-family: 'Open Sans', sans-serif;
                }
                .item-image{
                    img{
                        width: 15%;
                        height: 100%;
                        object-fit: cover;
                        filter:brightness(200%);
                    }
                }
                
            }
        }
    }
}