// bg - main
$--main-bg-color: #fff;
$--second-bg-color: #f5f5f5;
$--third-bg-color: #e3e3e3;

// color
$---grey: #4b4b4b;
$--color-black: #000;
$--color-white: #fff;
$--color-white-header: rgba(255, 255, 255, 0.785);
$-color-333: #333;
$--red: #c0392b;
$--color-p: #F5F5F5;

//
$--bg-btn: #1fb6fc;
// header-size
$--top-header-size: 30px;

// btn
$--btn-bg: #000;
$--btn-border-color: #000;
$--btn-color: #fff;


//bg - menu bar
$--bg-menubar: rgba(0, 0, 0, 0.557);